body{
  background: #f4f4f4;
}

.navbar-nav{
   min-height: 33px !important;
   margin-bottom: 0;
   border-radius: 0;
}

.navbar-nav >li >a , .navbar > .navbar-brand{
  padding-top: 2px !important;
  padding-bottom: 0 !important;
  height: 33px !important;
  font-size: 18px;
}

#header{
  background: #333;
  color: #fff;
  margin-top: 15px;
}

#breadcrumb{
  background: #ccc;
}

.breadcrumb{
  padding: 5px 10px !important;
}